.audio-clip
  height 100%
  display flex
  align-items center
  position absolute
  user-select none
  padding-right 2px
  .select-border
    border 2px solid #fff
    position absolute
    height calc(100% - 20px)
    inset 10px 0 10px 0
    border-radius 4px
    z-index 9
    display none
    cursor move
    &.select
      display block
    .icon
      width 28px
      height 28px
      position absolute
      right -14px
      top -14px
  .waveform
    background-color #0e3058
    width 100%
    height calc(100% - 20px)
    border-radius 4px
    overflow hidden
    cursor move
    position relative
    .audio-name
      position absolute
      top 3px
      left 3px
      z-index 3
      padding 0 5px
      background-color rgba(255, 255, 255, .15)
      color rgba(255, 255, 255, .9)
      border-radius 4px
      font-size 12px