.track
    height calc(100% - 10px)
    background-color #212429
    border-radius 6px
    margin 5px
    overflow hidden
    display flex
    flex-direction column
    .actions
      height: 50px
      padding-left 90px
      display flex
      .controls
        height 100%
        display flex
        align-items flex-end
        padding-bottom 5px
        .btn
          width 30px
          height 30px
          cursor pointer
          img
            width 30px
            height 30px
        .split-line
          height 15px
          width 0
          border-left 1px solid rgba(255, 255, 255, .5)
          margin 0 15px 5px
    .tracks
      flex 1
      display flex
      .left
        width 0
        flex 0 0 90px
        .title
          display flex
          align-items center
          justify-content center
          color: rgba(255, 255, 255, .5)
          text-align center
          background-color #212429
          height 100px
          border-top 1px solid #0d0c0f
          &:last-child
            border-bottom 1px solid #0d0c0f
          .icon
            font-size 25px
            margin-right 3px
          span
            font-size 14px !important
            vertical-align middle
        .audio-title
          height 60px
        .time-title
          height 35px
          border none
          .icon
            font-size 16px
            margin-right 3px
        .video-title
          span
            padding-top 3px
      .right
        overflow auto
        flex 1
        position relative
        height 100%
        .cut-track
          background-color #424549
          border-top 1px solid #0d0c0f
          height 100px
          min-width 100%
          &:last-child
            border-bottom 1px solid #0d0c0f
        .video-track
          display flex
          .single-track
            display flex
            white-space nowrap
            cursor move
            position relative
            .thumbnail-border
              height 100%
              overflow hidden
              display flex
              flex-direction column
              background-color rgba(255, 125, 0, .2)
              &.last-thumbnail-border
                padding-right 3px
              .thumbnail-img
                flex 1
                overflow hidden
                padding 2px 0
                &.first-thumbnail
                  padding-left 3px
                &.last-thumbnail
                  padding-right 3px
                img
                  height 100%
                  width calc(100%)
              .audio
                flex 0 0 20px
                width 100%
                background-size contain
                background-image url('/audio.svg')
                background-repeat repeat
            .thumbnail-placeholder
              height 100%
              background-color rgba(255, 125, 0, .2)
              margin-left 2px
            .select-frame
              position absolute
              top 0
              bottom 0
              border 2px solid #ff7d00
        .audio-track
          height 60px
          position relative
          .track-item
            position absolute
            height 100%
            background-image url("/audio.svg")
            background-size contain
            background-repeat repeat
            background-color rgba(255, 125, 0, .2)
        .video-frame-point
          position absolute
          top 0
          bottom 0
          display flex
          flex-direction column
          z-index 10
          .point-head
            margin-left -10px
            width 22px
            height 22px
            cursor pointer
            img
              width 22px
              height 22px
          .point-line
            width 0
            flex 1
            border-left 1px solid #ff7d00
            margin-top -1px
      .time-track
        user-select none
        white-space nowrap
        height 35px
        cursor pointer
        .time-unit
          display inline-block
          height 35px
          position relative
          width 90px
          .time-title
            position absolute
            top 0
            color rgba(255, 255, 255, .5)
          .cells
            position absolute
            bottom 0
            display flex
            align-items  flex-end
            border-bottom 1px solid rgba(255, 255, 255, .5)
            .cell
              border-right 1px solid rgba(255, 255, 255, .5)
              border-bottom 1px solid rgba(255, 255, 255, .5)
              height 6px
              width 0
              margin-right 8px
            .cell:first-child
              height 10px
            .cell:nth-child(6)
              height 8px